<a href="https://colab.research.google.com/github/santoscm76/ML-Projects/blob/master/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyforest

Collecting pyforest
  Downloading https://files.pythonhosted.org/packages/8f/85/77a9d2d9ff240822039f3dfd7a3b374d0621a0df5feb5d270a2151f6bb6d/pyforest-1.0.3.tar.gz
Building wheels for collected packages: pyforest
  Building wheel for pyforest (setup.py) ... done
  Created wheel for pyforest: filename=pyforest-1.0.3-py2.py3-none-any.whl size=13716 sha256=ea2479647d4670873adeb9f6c7b2fde7e83d32230d76d6b1b7e1edf1ab930114
  Stored in directory: /root/.cache/pip/wheels/af/0b/39/340a7f15fc8d4ff5ab50847b28789afea04452a9d51b9721b5
Successfully built pyforest
Installing collected packages: pyforest
Successfully installed pyforest-1.0.3

In [ ]:
import pyforest

In [ ]:
from google.colab import files
uploaded = files.upload()
import io
#from google.colab import drive
df = pd.read_csv(io.BytesIO(data_to_load['location_analytics_cml_grids_20210111.csv']))

#data = pd.read_csv(io.BytesIO(uploaded['location_analytics_cml_grids_20210111.csv']))

Saving location_analytics_cml_grids_20210111.csv to location_analytics_cml_grids_20210111.csv

In [ ]:
df = melbourne_data.copy()
pd.set_option('float_format', '{:f}'.format)

NameError: ignored

In [ ]:
# First 10 rows
df.head(10)

NameError: ignored

In [ ]:
#Last 10 rows
df.tail(10)

                   datetime_value       grid_id  ...    E09       E10
1134416  2021-01-11T00:25:00.000Z  cmlgrid_2686  ...  133.0  0.000000
1134417  2021-01-11T00:25:00.000Z  cmlgrid_2753  ...  171.0  0.000000
1134418  2021-01-11T00:25:00.000Z   cmlgrid_283  ...    3.0  0.000000
1134419  2021-01-11T00:25:00.000Z  cmlgrid_2867  ...   98.0  4.332035
1134420  2021-01-11T00:25:00.000Z  cmlgrid_2915  ...   90.0  0.000000
1134421  2021-01-11T00:25:00.000Z  cmlgrid_2937  ...    0.0  0.000000
1134422  2021-01-11T00:25:00.000Z  cmlgrid_3075  ...    0.0  0.000000
1134423  2021-01-11T00:25:00.000Z  cmlgrid_3123  ...    0.0  0.000000
1134424  2021-01-11T00:25:00.000Z  cmlgrid_3328  ...   25.0  0.000000
1134425  2021-01-11T00:25:00.000Z    cmlgrid_55  ...    0.0  0.000000

[10 rows x 24 columns]

In [ ]:
#number of rows and columns
df.shape

(1134426, 24)

In [ ]:
#index, datatype and memory information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1134426 entries, 0 to 1134425
Data columns (total 24 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   datetime_value  1134426 non-null  object
 1   grid_id         1134426 non-null  object
 2   C01             1134426 non-null  float64
 3   C02             1134426 non-null  float64
 4   C03             1134426 non-null  float64
 5   C04             1134426 non-null  float64
 6   C05             1134426 non-null  float64
 7   C06             1134426 non-null  float64
 8   C07             1134426 non-null  float64
 9   C08             1134426 non-null  float64
 10  C09             1134426 non-null  float64
 11  C10             1134426 non-null  float64
 12  C11             1134426 non-null  float64
 13  D01             726466 non-null   object
 14  E01             1134426 non-null  float64
 15  E02             1134426 non-null  float64
 16  E03             1134426 non-null  float64
 17  E04             1134426 non-null  float64
 18  E05             1134426 non-null  float64
 19  E06             496645 non-null   object
 20  E07             1134426 non-null  float64
 21  E08             1134426 non-null  float64
 22  E09             1134426 non-null  float64
 23  E10             1134426 non-null  float64
dtypes: float64(20), object(4)
memory usage: 207.7+ MB

In [ ]:
#summary statistics for numerical columns
df.describe()

                 C01            C02  ...            E09            E10
count 1134426.000000 1134426.000000  ... 1134426.000000 1134426.000000
mean      124.647131       8.781820  ...     219.969230       4.165983
std       175.788391      22.856194  ...     297.817539      19.965467
min         0.000000       0.000000  ...       0.000000       0.000000
25%        31.981345       0.000000  ...       2.000000       0.000000
50%        79.025415       3.906810  ...      66.000000       0.000000
75%       162.522769      11.861887  ...     322.000000       4.690205
max      7872.820228    1801.702086  ...     900.000000    3524.427439

[8 rows x 20 columns]

In [ ]:
#mean of all columns
df.mean()
#others : df.max(), df.min(), df.median(), df.std()

NameError: ignored

In [ ]:
#correlation between columns
df.corr()

                  Rooms     Price  ...  Longtitude  Propertycount
Rooms          1.000000  0.496634  ...    0.100771      -0.081530
Price          0.496634  1.000000  ...    0.203656      -0.042153
Distance       0.294203 -0.162522  ...    0.239425      -0.054910
Postcode       0.055303  0.107867  ...    0.445357       0.062304
Bedroom2       0.944190  0.475951  ...    0.102238      -0.081350
Bathroom       0.592934  0.467038  ...    0.118971      -0.052201
Car            0.408483  0.238979  ...    0.063395      -0.024295
Landsize       0.025678  0.037507  ...    0.010833      -0.006854
BuildingArea   0.124127  0.090981  ...   -0.023810      -0.028840
YearBuilt     -0.065413 -0.323617  ...   -0.003470       0.006361
Lattitude      0.015948 -0.212934  ...   -0.357634       0.047086
Longtitude     0.100771  0.203656  ...    1.000000       0.065988
Propertycount -0.081530 -0.042153  ...    0.065988       1.000000

[13 rows x 13 columns]

In [ ]:
#number of non-null values in each column
df.count()

datetime_value    1134426
grid_id           1134426
C01               1134426
C02               1134426
C03               1134426
C04               1134426
C05               1134426
C06               1134426
C07               1134426
C08               1134426
C09               1134426
C10               1134426
C11               1134426
D01                726466
E01               1134426
E02               1134426
E03               1134426
E04               1134426
E05               1134426
E06                496645
E07               1134426
E08               1134426
E09               1134426
E10               1134426
dtype: int64

In [ ]:
#Select a sprecific column
df['Postcode']

0        3067.0
1        3067.0
2        3067.0
3        3067.0
4        3067.0
          ...
13575    3150.0
13576    3016.0
13577    3016.0
13578    3016.0
13579    3013.0
Name: Postcode, Length: 13580, dtype: float64

In [ ]:
#Select several columns
df[['Address', 'Rooms']]

                Address  Rooms
0          85 Turner St      2
1       25 Bloomburg St      2
2          5 Charles St      3
3      40 Federation La      3
4           55a Park St      4
...                 ...    ...
13575      12 Strada Cr      4
13576     77 Merrett Dr      3
13577       83 Power St      3
13578      96 Verdon St      4
13579        6 Agnes St      4

[13580 rows x 2 columns]

In [ ]:
#Filter column by values. It's possible to use AND (&) or OR (|) to add different conditions
df[df['Price'] > 1480000]

                  Suburb  ... Propertycount
4             Abbotsford  ...        4019.0
6             Abbotsford  ...        4019.0
7             Abbotsford  ...        4019.0
30            Abbotsford  ...        4019.0
80           Albert Park  ...        3280.0
...                  ...  ...           ...
13554       Surrey Hills  ...        5457.0
13555       Surrey Hills  ...        5457.0
13557        Templestowe  ...        6202.0
13558  Templestowe Lower  ...        5420.0
13578       Williamstown  ...        6380.0

[2569 rows x 21 columns]